<script>
  window.MathJax = {
    tex: {
      inlineMath: [['\\(', '\\)'], ['$', '$']],
      displayMath: [['\\[', '\\]'], ['$$', '$$']],
      processEscapes: true,
      macros: {
        kk: "\\kappa",
        Pic: "\\operatorname{Pic}",
        Spec: "\\operatorname{Spec}",
        Aut: "\\operatorname{Aut}",
        M: "\\mathcal{M}",
        O: "\\mathcal{O}"
      }
    },
    options: {
      skipHtmlTags: ['script','noscript','style','textarea','pre','code']
    }
  };
</script>

<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<script>
  window.MathJax = {
    tex: {
      packages: {'[+]': ['amscd']}
    },
    loader: {
      load: ['[tex]/amscd']
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
